.map-container {
	display: grid;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  grid-template-columns: repeat(2, 1fr);
  .map-title {
    justify-content: center;
    align-content: center;
    grid-column: span 5;
    color: #BF5194;
    font-family: 'Courgette', cursive;
    font-size: 2em;
    padding: 10px;
  }
}

.map {
  border: 1px solid darkgrey;
  height: 400px;
  margin-bottom: 20px;
}


.map-form-border {
  border: 1px solid #BF5194;
	border-radius: 5px;
	padding-top: 15px;
	padding-left: 5px;
	padding-right: 5px;
  width: 200px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
	background-color: #AAAAAA;
  button {
		background-color: transparent;
		font-family: 'Courgette', cursive;
		color: #BF5194;
		border: 1px solid #BF5194;
		border-radius: 5px;
		padding-left: 8px;
		padding-right: 8px;
		padding-bottom: 5px;
		padding-top: 5px;
	}
}
