#nav-bar {
  font-family: 'Pangolin', cursive;
  padding-bottom: 5px;
  padding-top: 5px;
}

#logo {
  height: 125px;
}

.fa {
  align-self: center;
  color: #B87333;

  padding-top: 15px;
}

.ferox-title {
  margin-left: 20px;
}

.video-container {
  background-color: #808080;
  display: grid;
  justify-content: center;
  margin: 25px;
}

#ytplayer{
  border: 5px ridge #B87333;
  padding: 5px;
  margin: 15px;
}
