.nav-container {
  max-width: 1413px;
  max-height: 810px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  background-image: url('pano.JPG');
  background-position: center;
  border: 10px ridge grey;
  border-radius: 5px;
  font-family: 'Courgette', cursive;
}

.nav-logo {
  margin: 5px;
  grid-column: span 3;
  align-self: center;
  order: 1;
}

.nav-name {
  margin: 5px;
  grid-column: span 6;
  text-align: center;
  align-self: center;
  order: 2;
}

.nav-links {
  grid-column: span 2;
  align-self: center;
  order: 3;
  margin-left: 30px;

}

.nav-button {
  margin-top: 15px;
  text-align: center;
  align-self: right;
  a {
    color: white;
  }
  margin-top: 20px;
}
