#nav-bar {
  font-family: 'Courgette', cursive;
  padding-bottom: 15px;
  padding-top: 5px;
}

.fa {
  align-self: center;
  margin: 3px;
  color: #B87333;
}

.nav-logo {
  margin: 5px;
  grid-column: span 3;
  align-self: center;
  order: 1;
}

.nav-name {
  margin: 5px;
  grid-column: span 6;
  text-align: center;
  align-self: center;
  order: 2;
}

.nav-links {
  grid-column: span 3;
  align-self: center;
  order: 3;
  margin-left: 30px;
}

.nav-button {
  margin-top: 15px;
  text-align: center;
  align-self: right;
  a {
    color: white;
  }
  margin-top: 20px;
}

.nav-login {
  margin-top: 15px;
  text-align: center;
  align-self: right;
  a {
    color: #B87333;
  }
  margin-top: 20px;
}

.video-container {
  background-color: #808080;
  display: grid;
  justify-content: center;
  margin: 25px;
}

#ytplayer{
  border: 5px ridge #B87333;
  padding: 5px;
  margin: 15px;
}
