// Post Show Page Styling

.show-container {
	display: grid;
	justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  grid-template-columns: 1fr;
}

.post-show-title {
  align-content: center;
	text-align: center;
  color: #B87333;
	text-shadow:
	 0 1px 0 #ccc,
   0 2px 0 #c9c9c9,
   0 3px 0 #bbb,
   0 4px 0 #b9b9b9,
   0 5px 0 #aaa,
   0 6px 1px rgba(0,0,0,.1),
   0 0 5px rgba(0,0,0,.1),
   0 1px 3px rgba(0,0,0,.3),
   0 3px 5px rgba(0,0,0,.2),
   0 5px 10px rgba(0,0,0,.25),
   0 10px 10px rgba(0,0,0,.2),
   0 20px 20px rgba(0,0,0,.15);
	font-family: 'Pangolin', sans-serif;
	font-weight: 600;
  font-size: 2em;
  padding: 10px;
  margin-left: 40px;
	margin-right: 40px;
}

.post-show-content {
	font-family: 'Pangolin', sans-serif;
  border: 3px ridge #B87333;
  min-height: 4rem;
  justify-content: flex-start;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

// Individual Comment Styling

.comment-fields-container {
  grid-column-start: span 50%;
  .button {
		background-color: transparent;
		font-family: 'Pangolin', sans-serif;
		font-weight: 600;
		color: #B87333;
		border: 1px solid #B87333;
		border-radius: 5px;
    align-content: right;
		padding-left: 8px;
		padding-right: 8px;
		padding-bottom: 5px;
		padding-top: 5px;
	}
  margin-left: 40px;
  margin-right: 40px;
}

h5 {
	color: #B87333;
	font-family: 'Pangolin', sans-serif;
	font-weight: 600;
	justify-content: center;
  margin-left: 40px;
}

.comment-dark-container {
  background-color: #AAAAAA;
	color: #B87333;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.comment-lite-container {
  background-color: #999999;
	color: #B87333;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

//New Comment Form Styling

.comments-form-container {
	display: grid;
	grid-template-columns: 1fr;
	button {
		background-color: transparent;
		font-family: 'Pangolin', sans-serif;
		font-weight: 600;
		color: #B87333;
		border: 2px solid #B87333;
		border-radius: 5px;
		padding-left: 8px;
		padding-right: 8px;
		padding-bottom: 5px;
		padding-top: 5px;
		margin-top: 5px;
	}
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
}

.fields-container {
	align-content: center;
	margin-left: 40px;
	font-family: 'Pangolin', sans-serif;
	font-weight: 600;
	color: #B87333;
	font-size: 1.5em;
	padding-bottom: 5px;
}

.form-border {
	border: 3px ridge #B87333;
	border-radius: 5px;
	padding-top: 15px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #AAAAAA;
}

.form-field-title {
	font-family: 'Pangolin', sans-serif;
	font-weight: 600;
  color: #B87333;
	font-style: italic;
}

.form-field {
	font-family: 'Pangolin', sans-serif;
}
