.post-container {
	display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.forum-title {
  align-self: center;
  padding: 10px;
}

.post-tile-container {
  grid-column-start: span 4;
  margin-left: 40px;
}

.tile-dark-container {
  background-color: #AAAAAA;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.tile-lite-container {
  background-color: #444444;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
