// Ferox Forum Styling

.post-container {
	display: grid;
	justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  grid-template-columns: 1fr;
}

.forum-title {
	text-align: center;
	color: #694CE2;
	text-shadow:
	 0 1px 0 #ccc,
   0 2px 0 #c9c9c9,
   0 3px 0 #bbb,
   0 4px 0 #b9b9b9,
   0 5px 0 #aaa,
   0 6px 1px rgba(0,0,0,.1),
   0 0 5px rgba(0,0,0,.1),
   0 1px 3px rgba(0,0,0,.3),
   0 3px 5px rgba(0,0,0,.2),
   0 5px 10px rgba(0,0,0,.25),
   0 10px 10px rgba(0,0,0,.2),
   0 20px 20px rgba(0,0,0,.15);
  font-family: 'Josefin Sans', sans-serif;
	font-weight: 600;
  font-size: 2em;
  padding: 10px;
}

// Individual Post Styling

.post-tile-container {
  margin-left: 40px;
  margin-right: 40px;
}

.tile-title {
	color: #694CE2;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 600;
	text-align: center;
}

.fa.fa-motorcycle {
  padding-right: 3px;
}

#dark-bike {
  color: #AAAAAA;
}

#lite-bike {
  color: #444444;
}

.tile-dark-container {
  background-color: #AAAAAA;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
	a {
		color: #B87333;
	}
}

.tile-lite-container {
  background-color: #444444;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
	a {
		color: #B87333;
	}
}

//New Post Form Styling

.new-post-form {
	display: grid;
	grid-template-columns: 1fr;
	justify-content: center;
	button {
		background-color: transparent;
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 600;
		color: #694CE2;
		border: 2px solid #B87333;
		border-radius: 5px;
		padding-left: 8px;
		padding-right: 8px;
		padding-bottom: 5px;
		padding-top: 5px;
		button:hover {
			color: #B87333;
		}
	}
  margin-left: 40px;
  margin-right: 80px;
}

.fields-container {
	margin-left: 40px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 600;
	color: #694CE2;
	font-size: 1.5em;
	padding-bottom: 5px;
}

.form-border {
	border: 3px ridge #B87333;
	border-radius: 5px;
	padding-top: 15px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #AAAAAA;
}

.form-field {
	font-family: 'Lato', sans-serif;
}
