

.post-container {
	display: grid;
  grid-template-columns: auto;
}

.tile-dark-container {
  grid-column: 2 / 5;
  background-color: lightgrey;
}

.tile-lite-container {
  grid-column: 8 / 11;
  background-color: lightblue;
}
