


/* a {color: grey}
a:hover {color: black} */

.link-tabs {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 10px;
  margin-bottom: 15px;
}

.fa-map {
  grid-column: 6 / 7;
  align-self: center;
  margin: 3px;
  color: #528FD5;
}

.fa-comments {
  grid-column: 7 / 8;
  align-self: center;
  margin: 3px;
  color: #528FD5;
}

.fa-users {
  grid-column: 8 / 9;
  align-self: center;
  margin: 3px;
  color: #528FD5;
}
