


/* a {color: grey}
a:hover {color: black} */

.link-tabs {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 10px;
}

.fa-map {
  grid-column: 6 / 7;
  align-self: center;
  margin-bottom: 3px;
}

.fa-comments {
  grid-column: 7 / 8;
  align-self: center;
  margin-bottom: 3px;
}
