// Ferox Forum Styling

.user-container {
	display: grid;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  grid-template-columns: repeat(12, 1fr);
}

.users-title {
	grid-column: 5 / 9;
	color: #BF5194;
	font-family: 'Courgette', cursive;
  font-size: 2em;
  margin-left: 40px;
  margin-right: 40px;
  padding: 10px;
}

// Individual Post Styling

.user-tile-container {
  grid-column-start: span 5;
  margin-left: 40px;
}

h5 {
	color: #BF5194;
	font-family: 'Courgette', cursive;
	justify-content: center;
}

.fa.fa-motorcycle {
  padding-right: 3px;
}

#dark-icon {
  color: #AAAAAA;
}

#lite-icon {
  color: #444444;
}

.tile-dark-container {
  background-color: #AAAAAA;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
	a {
		color: #528FD5;
	}
}

.tile-lite-container {
  background-color: #444444;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
	a {
		color: #528FD5;
	}
}
